header{
    background-color: greenyellow;
    padding: 3%;
}
main{
    background-color: blue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: red;
    padding: 3%;
}
nav{
    background-color: cyan;
}
.logo{
    background-color: aquamarine;
}
h1, h2{
    line-height: 3;
}
p{
    line-height: 1.5;
}
ul, li{
    line-height: 1.5;
}